.two
  background: #fff url(../img/bg2.jpg) 0 0 no-repeat
  background-size: cover
  padding: 30px 60px
  color: #fff
  &__box
    left calc(65% - 256px)
    +lg-m()
      left calc(55% - 256px)
    +sm-m()
      left calc(45% - 256px)
    +sm-s()
      left calc(50% - 256px)
  &__h1
    text-align: right
    margin-top: 15px
    margin-bottom: 15px
    
  &__txt
    margin-top: 0
    text-align: right
    margin-bottom: 40px
    +xxs-m()
      width 314px
      text-align center
    +ps-m()
      width 314px
  &__more
    display: flex
    align-items: center
    color: #fff
    text-align: right
    justify-content: flex-end
    ms300()
    font-size: 21px
    text-decoration: none
    +sm-s()
      justify-content center
    &:hover, &:active, &:focus
      text-decoration: underline
  &__img
    margin-left: 10px
    margin-top: 2px
